
body {
    display: flex;
    font-family: "Merienda", "Lobster", sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    background-image: url(images/flowers.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.photo-credit, .photo-credit>a {
    color: white;
    font-size: .5rem;
}

.logo-img {
    width: 50px;
    height: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(62, 124, 44, 0.5);
    width: 100%;
    margin-top: 150px;
    color: white;
    font-size: 3rem;
}

.main {
    width: 60%;
    background-color: lightgrey;
}

.main-text {
    padding: 20px;
    margin-right: 60px;
    margin-top: 50px;
}

.form {
    background-color: white;
    padding: 30px;
    font-size: 1.2rem;
}

label {
    font-size: .60rem;
}

input {
    font-size: 1rem;
    margin: 0;
    border-radius: 4px;
    display: flex;
}

input:invalid {
    border-color: red;
    /* background: rgba(255, 0, 0, 0.438); */
}

.first, .second, .third {
    display: flex;
    gap: 36px;
    padding: 8px;
}

.submit {
    width: 150px;
    height: 35px;
    margin: 18px 30px;
    border-radius: 8px;
    background-color: rgb(103, 22, 52);
    border-color: rgb(103, 22, 52);
    color: white;
}

.current-user {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: .75rem;
    margin-bottom: 105px;
}

.current-user > a {
    margin: 6px;
    color: rgb(103, 22, 52);
}

/* .error {
    backgr
} */